<header style="{{ partial "sidebar/style" . | safeCSS }}; color:mintcream">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <div class="intro">
    <div class="logo-container">
      <a href="/">
        <img src='{{ .Site.Params.sidebar.logo | absURL }}' alt="Profile {{ .Title }}" class="rounded-logo">
      </a>
    </div>
    <h2>{{ .Site.Params.intro.main | default "Welcome, I'm John Doe" | emojify }}</h2>
    <h3>{{ .Site.Params.intro.sub | emojify }}</h3>
    <div class="menu">
      {{ partial "sidebar/menu" . }}
      {{ if .Site.Params.contact.email }}
        {{ $email := printf "mailto:%s" .Site.Params.contact.email}}
        <p>
            <i class="fa-solid fa-envelope" style="color:mintcream"></i>
            <a href="{{ $email }}" target="_blank" rel="external" style="color:mintcream;">
                {{ .Site.Params.contact.text | emojify }}
            </a>
        </p>
      {{ end }}
      {{ if .Site.Params.contact.scholar }}
        {{ $scholar := printf .Site.Params.contact.scholar}}
        <p>
            <i class="fa-solid fa-graduation-cap" style="color:mintcream"></i>
            <a href="{{ $scholar }}" target="_blank" rel="external" style="color:mintcream;">
                {{ .Site.Params.contact.scholartext | emojify }}
            </a>
        </p>
      {{ end }}
    </div>
  </div>

  <div class="socials">
      {{ partial "sidebar/social" .}}
  </div>
</header>

<div class="mobile-header" style="color:mintcream">
  <p> {{ .Site.Title }} </p>
  <div class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>

<div class="overlay-menu">
  <header>
    <div class="intro">
      <div class="logo-container">
        <a href="/">
          <img src='{{ .Site.Params.sidebar.logo | default "images/edna-west.jpg" | absURL }}' alt="Profile {{ .Title }}" class="rounded-logo">
        </a>
      </div>
      <h2>{{ .Site.Params.intro.main | default "Welcome, I'm John Doe" | emojify }}</h2>
      <h3>{{ .Site.Params.intro.sub | default "This is my personal website" | emojify }}</h3>
      <div class="menu">
        {{ partial "sidebar/menu" . }}
        {{ if .Site.Params.contact.email }}
        {{ $email := printf "mailto:%s" .Site.Params.contact.email}}
        <p>
            <i class="fa-solid fa-envelope" style="color:mintcream"></i>
            <a href="{{ $email }}" target="_blank" rel="external" style="color:mintcream">
                {{ .Site.Params.contact.text | emojify }}
            </a>
        </p>
      {{ end }}
      {{ if .Site.Params.contact.scholar }}
        {{ $scholar := printf .Site.Params.contact.scholar}}
        <p>
            <i class="fa-solid fa-graduation-cap" style="color:mintcream"></i>
            <a href="{{ $scholar }}" target="_blank" rel="external" style="color:mintcream;">
                {{ .Site.Params.contact.scholartext | emojify }}
            </a>
        </p>
      {{ end }}
      </div>
    </div>

    <div class="socials">
        {{ partial "sidebar/social" .}}
    </div>
  </header>
</div>